In [2]:
#Mengimpor library yang dibutuhkan

import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import svm

In [3]:
#Mengimpor dataset

from google.colab import files
uploaded = files.upload()

df = pd.read_csv('academy-candidates.csv')
df.head()

Saving academy-candidates.csv to academy-candidates.csv

   gmat  gpa  work_experience  admitted
0   780  4.0                3         1
1   750  3.9                4         1
2   690  3.3                3         0
3   710  3.7                5         1
4   680  3.9                4         0

In [4]:
#Menunjukkan rangkuman statistik dari dataset

df.describe()

             gmat        gpa  work_experience   admitted
count   40.000000  40.000000        40.000000  40.000000
mean   654.000000   3.095000         3.425000   0.475000
std     61.427464   0.631218         1.737778   0.505736
min    540.000000   1.700000         1.000000   0.000000
25%    607.500000   2.700000         2.000000   0.000000
50%    660.000000   3.300000         4.000000   0.000000
75%    690.000000   3.700000         5.000000   1.000000
max    780.000000   4.000000         6.000000   1.000000

In [5]:
#Menampilkan informasi dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   gmat             40 non-null     int64
 1   gpa              40 non-null     float64
 2   work_experience  40 non-null     int64
 3   admitted         40 non-null     int64
dtypes: float64(1), int64(3)
memory usage: 1.4 KB

In [6]:
#Memeriksa nilai kosong

df.isnull().values.any()

False

In [7]:
#Membagi dataset ke data training dan data tes
"""
Membuat variabel x dan y dengan mengambilnya dari dataset dan menggunakan 
fungsi scikit-learn train_test_split untuk membagi data menjadi data testing
dan data training.
"""
x = df.drop('admitted', axis = 1)
y = df['admitted']

"""
Nilai 0.25 mengartikan bahwa kita menggunakan 25% dari dataset untuk testing.
Random_state memastikan reproduktivitas. Untuk output train_test_split, kita
mendapatkan nilai x_train, x_test, y_train, dan y_test.
"""
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [8]:
#Membuat model SVM

clf = svm.SVC(kernel='rbf')
clf.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [9]:
#Melakukan prediksi
"""
Kita bisa menggunakan metode prediksi pada model dan meletakkan x_test sebagai parameternya
untuk mendapatkan output sebagai y_pred.
"""
y_pred = clf.predict(x_test)
y_pred

array([0, 0, 1, 1, 1, 1, 0, 0, 1, 1])

In [10]:
#Setelah SVM model diterapkan, kita dapat melihat hasil akurasi model menggunakan accuracy_score dan confusion_matrix

confusion_matrix(y_test,y_pred)

array([[4, 3],
       [0, 3]])

In [11]:
#Accuracy_score

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7

In [12]:
#Menampilkan nilai precision, recall, dan f-measure dari klasifikasi algoritma SVM menggunakan dataset diabetes

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.57      0.73         7
           1       0.50      1.00      0.67         3

    accuracy                           0.70        10
   macro avg       0.75      0.79      0.70        10
weighted avg       0.85      0.70      0.71        10