In [1]:
#Mengimpor library yang dibutuhkan

import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn import svm

In [2]:
#Mengimpor dataset

from google.colab import files
uploaded = files.upload()

df = pd.read_csv('diabetes_indonesia.csv')
df.head()

Saving diabetes_indonesia.csv to diabetes_indonesia.csv

   Kehamilan  Glukosa  TekananDarah  ...  FungsiRiwayatDiabetes  Usia  Hasil
0          6      148            72  ...                  0.627    50      1
1          1       85            66  ...                  0.351    31      0
2          8      183            64  ...                  0.672    32      1
3          1       89            66  ...                  0.167    21      0
4          0      137            40  ...                  2.288    33      1

[5 rows x 9 columns]

In [3]:
#Menunjukkan rangkuman statistik dari dataset

df.describe()

        Kehamilan     Glukosa  ...        Usia       Hasil
count  768.000000  768.000000  ...  768.000000  768.000000
mean     3.845052  120.894531  ...   33.240885    0.348958
std      3.369578   31.972618  ...   11.760232    0.476951
min      0.000000    0.000000  ...   21.000000    0.000000
25%      1.000000   99.000000  ...   24.000000    0.000000
50%      3.000000  117.000000  ...   29.000000    0.000000
75%      6.000000  140.250000  ...   41.000000    1.000000
max     17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [4]:
#Menampilkan informasi dataset

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Kehamilan              768 non-null    int64
 1   Glukosa                768 non-null    int64
 2   TekananDarah           768 non-null    int64
 3   KetebalanKulit         768 non-null    int64
 4   Insulin                768 non-null    int64
 5   IndeksMassaTubuh       768 non-null    float64
 6   FungsiRiwayatDiabetes  768 non-null    float64
 7   Usia                   768 non-null    int64
 8   Hasil                  768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [5]:
#Memeriksa nilai kosong

df.isnull().values.any()

False

In [7]:
#Membagi dataset ke data training dan data tes
"""
Membuat variabel x dan y dengan mengambilnya dari dataset dan menggunakan 
fungsi scikit-learn train_test_split untuk membagi data menjadi data testing
dan data training.
"""
x = df.drop('Hasil', axis = 1)
y = df['Hasil']

"""
Nilai 0.25 mengartikan bahwa kita menggunakan 25% dari dataset untuk testing.
Random_state memastikan reproduktivitas. Untuk output train_test_split, kita
mendapatkan nilai x_train, x_test, y_train, dan y_test.
"""
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 42)

In [8]:
#Membuat model SVM

clf = svm.SVC(kernel='rbf')
clf.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [9]:
#Melakukan prediksi
"""
Kita bisa menggunakan metode prediksi pada model dan meletakkan x_test sebagai parameternya
untuk mendapatkan output sebagai y_pred.
"""
y_pred = clf.predict(x_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0])

In [10]:
#Setelah SVM model diterapkan, kita dapat melihat hasil akurasi model menggunakan accuracy_score dan confusion_matrix

confusion_matrix(y_test,y_pred)

array([[106,  17],
       [ 35,  34]])

In [11]:
#Accuracy_score

print("Accuracy:", accuracy_score(y_test, y_pred))

Accuracy: 0.7291666666666666

In [12]:
#Menampilkan nilai precision, recall, dan f-measure dari klasifikasi algoritma SVM menggunakan dataset diabetes

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.75      0.86      0.80       123
           1       0.67      0.49      0.57        69

    accuracy                           0.73       192
   macro avg       0.71      0.68      0.68       192
weighted avg       0.72      0.73      0.72       192